{% extends "index.html" %}

{% block title %}
Projects
{% endblock %}

{% block content %}

    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800">Projects</h1>

        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="projectsDataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Description</th>
                                <th>Projected Length</th>
                                <th>Owner</th>
                                <th>Creation Date</th>
                            </tr>
                        </thead>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
    <script type="text/javascript">
    $(document).ready(function () {
        $('#projectsDataTable').DataTable({
            ajax: 'get_projects',
        });
    });
    </script>
    <!-- /.container-fluid -->
{% endblock %}
